<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.dictionaries.DictionariesInfoMapper">
  <resultMap id="BaseResultMap" type="com.model.entity.dictionaries.DictionariesInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pronunciation_id" jdbcType="INTEGER" property="pronunciationId" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pronunciation_id, info, create_time
  </sql>
  <sql id="My_Column_List">
    id, pronunciation_id pronunciationId, info, create_time createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictionaries_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dictionaries_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.entity.dictionaries.DictionariesInfo">
    <selectKey resultType="integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dictionaries_info (id, pronunciation_id, info, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{pronunciationId,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.model.entity.dictionaries.DictionariesInfo">
    insert into dictionaries_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pronunciationId != null">
        pronunciation_id,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pronunciationId != null">
        #{pronunciationId,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.entity.dictionaries.DictionariesInfo">
    update dictionaries_info
    <set>
      <if test="pronunciationId != null">
        pronunciation_id = #{pronunciationId,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.entity.dictionaries.DictionariesInfo">
    update dictionaries_info
    set pronunciation_id = #{pronunciationId,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectDictionariesInfo" resultType="com.model.vo.dictionaries.SelectDictionariesInfoVO">
    SELECT
    <include refid="My_Column_List"/>
    from dictionaries_info
    where pronunciation_id=#{pronunciationId}
  </select>
</mapper>